html {
  background-color: #e6e6e6;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One';
}
.menu {
  text-align: center;
}
.menu ul {
  padding: 0;
}
.menu li {
  list-style-type: none;
  display: inline;
}
.menu li a {
  font-size: 25px;
  padding: 20px;
  text-decoration: none;
  color: darkgray;
}
.menu li a.active,
.menu li a:hover,
.menu li a:active {
  color: black;
}
.grid {
  margin: 0 auto;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid img {
  max-width: 180px;
}
.grid-item {
  float: left;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 5%;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
  width: 35%;
  float: left;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  font-size: 18px;
  display: inline;
}
#home,
#painting {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#home,
#over,
#contact {
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
#home {
  background-image: url("../bg/openingspag.jpg");
}
#over img {
  max-width: 100%;
}
#over .text {
  padding-top: 1px;
}
#contact {
  background-image: url('../bg/achtergrond met handtek.jpg');
}
#painting {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  border: 0;
}
#painting i.fa-times {
  float: right;
  font-size: 22px !important;
  position: relative;
  top: 10px;
  right: 10px;
  padding: 10px;
}
#painting .container {
  padding: 20px;
  max-width: 95%;
  max-height: 95%;
}
#painting img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.text {
  max-width: 80%;
  padding: 20px 10% 20px 10%;
  font-size: 18px;
}
.contact {
  text-align: center;
  margin-top: 25%;
  font-size: 18px;
}
@media all and (orientation: portrait) and (max-width: 414px) {
  .menu li a {
    padding: 10px;
  }
  #painting .container {
    max-width: 90%;
  }
  blockquote {
    width: 80%;
  }
}
@media all and (min-width: 1280px) {
  #over .text {
    max-width: 40%;
    margin: auto;
  }
}
@media all and (orientation: portrait) and (max-width: 435px) {
  #home,
  #over {
    background-position-y: 80px;
  }
  #contact {
    background-position-y: 30px;
  }
  .menu li a {
    padding: 4px;
  }
  #painting .container {
    max-width: 92%;
  }
}
@media all and (orientation: portrait) and (max-width: 360px) {
  .grid img {
    max-width: 176px;
  }
  #painting .container {
    max-width: 90%;
  }
}
@media all and (orientation: portrait) and (max-width: 320px) {
  .grid img {
    max-width: 158px;
  }
  #painting .container {
    max-width: 88%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #over .text {
    padding-top: 20px;
  }
  #over .text p:first-child {
    margin-top: 0px;
  }
  .col1,
  .col2 {
    display: inline-block;
  }
  .col1 {
    width: 60%;
  }
  .col2 {
    width: 39%;
  }
  .col2 img {
    position: relative;
    top: -42px;
  }
}
